.studentBox{
  box-sizing: border-box;
  width: 500px;
  margin: 20px auto;
  border: 2px solid #000;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.info{
  width: 40%;
  text-align: center;
  p{
    font-size: 14pt;
    margin: 10px 0px;
  }
  button{
    display:  block;
    width: 150px;
    height: 30px;
    margin: 10px auto;
  }
}

.lessons{
  border-collapse: collapse;
  width: 40%;
  height: fit-content;
  margin: auto 0;
  td{
    border: 2px solid #000;
    width: 50%;
    text-align: center;
    margin: 0;
  }
  thead td{
    background-color: #aee;
  }
}

.addLesson{
  input{
    display: block;
    width: 140px;
    margin: 5px auto;
    text-align: center;
  }
}
